# PLANTILLA DE VARIABLES DE ENTORNO (PRODUCCIÓN)

# Instrucciones: Copia este archivo, renómbralo a '.env'
# y sustituye los valores por tus credenciales reales.

# 1. Credenciales de la Base de Datos PostgreSQL
DB_USERNAME=tu_usuario_aqui
DB_PASSWORD=tu_password_segura_aqui

# 2. Seguridad JWT (Generar una cadena de 64 caracteres en Base64)
JWT_SECRET=tu_clave_secreta_generada_aleatoriamente_aqui